{% trans_default_domain 'messages' %}

<footer id="footer">
    <ul class="f-menu">
        <li><a href="" class="footer-link">{{ 'link.home'|trans }}</a></li>
        <li><a href="" class="footer-link">{{ 'link.help'|trans }}</a></li>
        <li><a href="" class="footer-link">{{ 'link.contact'|trans }}</a></li>
    </ul>
</footer>
