<div class="nav-wrapper clearfix">
    <nav class="ha-menu nav-links">
        <ul>
            <li class="active"><a href="index.html">Your courses</a></li>
            <li><a href="">Starred courses</a></li>
            <li><a href="">Explore courses</a></li>
        </ul>
    </nav>
</div>
