{% extends 'AppBundle:Admin/Layout:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    Salut Cosmin
    <a href="{{ path('app_main_security_logout') }}">Log Out</a>
{% endblock %}
