{% extends 'AppBundle:Main/Layout:body_main.html.twig' %}

{% block body_content %}
    <div class="row m-t-10">
        <div class="col-lg-3 profile-settings-sidebar">
            <h3>New course</h3>
            <p>Create your course by filling out the inputs from the form</p>
        </div>
        <div class="col-lg-9">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="f-17">Course name</label>
                    <div class="fg-line">
                        <input type="email" class="form-control input-lg" id="exampleInputEmail1">
                    </div>
                    <span class="help-block">Enter name, so people know the full name of the course.</span>
                </div>
                <div class="form-group m-t-10">
                    <label for="exampleInputEmail1" class="f-17">Course abbreviation</label>
                    <div class="fg-line">
                        <input type="email" class="form-control input-lg" id="exampleInputEmail1">
                    </div>
                    <span class="help-block">Enter course abbrevition.</span>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1" class="f-17">Project description(optional)</label>
                    <div class="fg-line">
                        <textarea class="form-control" rows="5" placeholder="Description"></textarea>
                    </div>
                    <span class="help-block">Enter your last name.</span>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1" class="f-17">Visibility Level</label>
                    <div class="radio m-b-15">
                        <label>
                            <input type="radio" name="sample" value="">
                            <i class="input-helper"></i>
                            <i class="zmdi zmdi-lock m-r-5"></i>
                            Private
                            <div class="option-description">Course access must be granted explicity to each user.</div>
                        </label>
                    </div>

                    <div class="radio m-b-15">
                        <label>
                            <input type="radio" name="sample" value="">
                            <i class="input-helper"></i>
                            <i class="zmdi zmdi-shield-security m-r-5"></i>
                            Only for selected year
                            <div class="option-description">The course can be accessed by students from year of study</div>
                        </label>
                    </div>

                    <div class="radio m-b-15">
                        <label>
                            <input type="radio" name="sample" value="">
                            <i class="input-helper"></i>
                            <i class="zmdi zmdi-globe m-r-5"></i>
                            Public
                            <div class="option-description">The course can be accessed without any restriction</div>
                        </label>
                    </div>
                </div>
                <div>
                    <button class="btn bgm-green waves-effect text-transform-initial f-16">Create course</button>
                    <button class="btn waves-effect text-transform-initial f-16 pull-right">Cancel</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
