{% extends 'AppBundle:Admin/Layout:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            Welcome to Admin
        </div>
    </div>
{% endblock %}
